pie-chart/datalist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by Tavis Reddick (Adam Smith College) -->
<!--W3C Schema generated by XMLSpy v2007 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST3_value">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Mozilla Firefox"/>
			<xs:enumeration value="Windows Explorer"/>
			<xs:enumeration value="XML Spy"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="datalist">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Open documents"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="values">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="value" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="ST3_value">
											<xs:attribute name="magnitude" type="xs:anySimpleType" use="required"/>
											<xs:attribute name="colour" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
